{% extends "inicio/inicio.html" %}

{% block titre %}
<style type="text/css">
    .boton_personalizado{
      text-decoration: none;
      padding: 10px;
      font-weight: 600;
      font-size: 20px;
      color: #ffffff;
      background-color: #1883ba;
      border-radius: 6px;
      border: 2px solid #0016b0;
    }
    .boton_personalizado:hover{
      color: #1883ba;
      background-color: #ffffff;
    }
</style>



{% endblock %}
{% block contenu %}

<head>
<meta charset=utf-8 />

<style>
body{
  background: lightgray;
}
#wrap{
  margin: 0 auto;
  width: 500px;
}
details{
  border: 1px solid #CC0;
  padding: 5px;
  font-family: Arial;
  margin-bottom:5px;
  width:500px;
  background-color: #EEE;
}
summary{
  font-weight: bold;
  color: SteelBlue;
  font-size: 12px;
  cursor: pointer;
}
p, a, span{
  font-size: 12px;
  color: #666;
}
details summary::-webkit-details-marker {
  color: #CC0;
}
h2{
  color: black;
  font-size: 40px;
  font-family: Helvetica;
  text-align: center;
}
#logo{
  background: SteelBlue url() no-repeat;
  background-position: 0 -224px;
  height: 62px;
  width: 230px;
  margin-top: 11px;
  padding:3px;
}

</style>
</head>
<body>
    <a href="{{ url_for('preguntas') }}"><img ALIGN="right" height="5%" width="5%" src="static/img/eng.jpg" alt="English" /></a>
    
<div id="wrap">
<h2>FAQ</h2>
<details>
   <summary>1- Why should I fill out the form R-COM-03 or R-COM-22 and what is the difference between them?</summary>
   <p>Tico Electronics makes available to suppliers who want to be part of our value chain two types of forms to fill out on line and attach the required documents, so our staff Approve suppliers revise them in order to approve or reject them.</br>
    The first subject the supplier must define is the Classification corresponding to the product that the supplier will provide to Tico Electronics, once it is defined this classification the corresponding register will be deployed, with this file complete Tico Electronics will be able to evaluate if the supplier can be approved or not. It is important that all the information is real and clear, since it will go through a verification process. </br>
   You should also take in consideration that the R-COM-03 has been created for those suppliers which make mandatory to pay depth attention to their quality system and the R-COM-22 is for suppliers that do not need this evaluation.</p>
</details>
<details>
    <summary>2- Which certifications are necessary to be able to be part of the approved suppliers of Tico Electronics?</summary>
   <p>Certification AS9100 it is the optimal requirement for those who are offering material use in the direct assembly of the parts or at least ISO 9001:2015 which is most of the cases, however it is the minimum requirement in the Aerospacial industry.
    For Special processes as passivation for example, supplier must be Nadcap certified in such process offered.
    For tooling and fixtures there is no certification required.</p>
</details>
<details>
   <summary>What if I have no certification at all?</summary>
   <div>For Tico Electronics it is very important that our suppliers have any certification, however, some needs of the company will not require it, unless it is a product that comes in the assembly and by end user specification it has to be certified, this is why we encourage our suppliers that at least get the ISO9001 certification to get a mutual benefit. </div>
</details>
</div>
<br></br>
<br></br>

<center> 
<a class="boton_personalizado" href="select">Star Now</a>
</center> 
</body>
</html>

{% endblock %}

