{% extends "frontent/frontend.html" %}

{% block contenu %}
<form action="#" method="post">
        <div class="form-group row">
            <label for="company" class="col-sm-2 col-form-label">Company</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="company" name="company" value={{contact.company}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="phone" class="col-sm-2 col-form-label">Phone</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="nom" name="phone" value={{contact.phone}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="mail" class="col-sm-2 col-form-label">Mail</label>
            <div class="col-sm-10">
                <input type="email" class="form-control" id="mail" name="mail" value={{contact.mail}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="adress" class="col-sm-2 col-form-label">adress</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="adress" name="adress" value={{contact.adress}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="city" class="col-sm-2 col-form-label">city</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="city" name="city" value={{contact.city}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="country" class="col-sm-2 col-form-label">country</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="country" name="country" value={{contact.country}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="website" class="col-sm-2 col-form-label">website</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="website" name="website" value={{contact.website}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="industry" class="col-sm-2 col-form-label">industry</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="industry" name="industry" value={{contact.industry}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="description" class="col-sm-2 col-form-label">Description of product or service
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="description" name="description" value={{contact.description}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="managername" class="col-sm-2 col-form-label">Name Manager General</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="managername" name="managername" value={{contact.managername}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="manageremail" class="col-sm-2 col-form-label">Email Manager General</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="manageremail" name="manageremail" value={{contact.manageremail}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="managerphone" class="col-sm-2 col-form-label">Phone Manager General</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="managerphone" name="managerphone" value={{contact.managerphone}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="finanzasname" class="col-sm-2 col-form-label">Name  Financial Manager</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="finanzasname" name="finanzasname" value={{contact.finanzasname}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="finanzasemail" class="col-sm-2 col-form-label">Email Financial Manager</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="finanzasemail" name="finanzasemail" value={{contact.finanzasemail}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="finanzasphone" class="col-sm-2 col-form-label">Phone Financial Manager</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="finanzasphone" name="finanzasphone" value={{contact.finanzasphone}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="salename" class="col-sm-2 col-form-label">Name Sales</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="salename" name="salename" value={{contact.salename}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="saleemail" class="col-sm-2 col-form-label">Email Sales</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="saleemail" name="saleemail" value={{contact.saleemail}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="salephone" class="col-sm-2 col-form-label">Phone Sales</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="salephone" name="salephone" value={{contact.salephone}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="cuentaname" class="col-sm-2 col-form-label">Payment Information 
                Account Name :
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cuentaname" name="cuentaname" value={{contact.cuentaname}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="cuentaswift" class="col-sm-2 col-form-label">Swift:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cuentaswift" name="cuentaswift" value={{contact.cuentaswift}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="cuentaaba" class="col-sm-2 col-form-label">ABA: 
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cuentaaba" name="cuentaaba" value={{contact.cuentaaba}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="cuentanumber" class="col-sm-2 col-form-label">Account Number:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cuentanumber" name="cuentanumber" value={{contact.cuentanumber}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="cuentabanco" class="col-sm-2 col-form-label">Bank Name: 
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cuentabanco" name="cuentabanco" value={{contact.cuentabanco}}>
            </div>
        </div>
        <div class="form-group row">
            <label for="cuentaaddress" class="col-sm-2 col-form-label">Bank Physical Address:
            </label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="cuentaaddress" name="cuentaaddress" value={{contact.cuentaaddress}}>
            </div>
        </div>
        
        
        
    
    
    
      <button type="submit" class="btn btn-secondary"  value="Submit">Aceptar</button>
    
      <button type="submit" class="btn btn-secondary"  value="Submit">Cancelar</button>
    
    </form>
{% endblock %}


