{% extends "frontend/frontend.html" %}

{% block contenu %}
<html>
    <head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
        <style>
        
        
               
        
            
        </style>

    </head>
    <body>       

<form action="#" method="post">
    <div class="form-group row">
        <label for="company" class="col-sm-2 col-form-label">Empresa</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="company"
            required="required"  title="Required name company" placeholder="Nombre de la empresa"  
            name="company" value={{contact.company}} >
            
        </div>
    </div>
    <div class="form-group row">
        <label for="phone" class="col-sm-2 col-form-label">Telefono</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="nom" 
            required="required"  title="Required phone company" placeholder="550 1000 0000"  name="phone" value={{contact.phone}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="mail" class="col-sm-2 col-form-label">Mail</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="mail" 
            required="required"  title="Required email company" placeholder="email@company.com"  name="mail" value={{contact.mail}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="adress" class="col-sm-2 col-form-label">Direccion</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="adress" 
             title="Adress company" placeholder="25 street califonia"  name="adress" value={{contact.adress}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="city" class="col-sm-2 col-form-label">Ciudad</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="city" 
            required="required"  title="Required city company" placeholder="City Alajuela"  name="city" value={{contact.city}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="country" class="col-sm-2 col-form-label">Pais</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="country" 
            required="required" title="Required country company" placeholder="Costa Rica"  name="country" value={{contact.country}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="website" class="col-sm-2 col-form-label">Website</label>
        <div class="col-sm-10">
            <input type="url" class="form-control" id="website" 
            title="Website company" placeholder="https://company.com"  name="website" value={{contact.website}}>
        </div>
    </div>
    <div class="form-group row">
            <label for="industry" class="col-sm-2 col-form-label">Industria</label>
            <div class="col-sm-10">
                
                <select type="text" class="form-control" id="industry" 
                required="required"   title="Required select industry company" name="industry" value={{contact.industry}}>
    
                        <option></option>
                        
                        <option>Fabricacion</option>
                        <option>Transporte</option>
                        <option>Financiero</option>
                        <option>Distribuidor</option>
                        <option>Otros</option>

                        
                        
                </select>
            </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Descripcion del producto o servicio
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" 
            required="required"   title="Required description of product or service company"   name="description" value={{contact.description}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="transportemedio" class="col-sm-2 col-form-label">Por favor anote el medio de envío que utiliza

        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="transportemedio" name="transportemedio" value={{contact.transportemedio}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="transportequimicos" class="col-sm-2 col-form-label">Tiene la empresa experiencia con la manipulación de químicos peligrosos?

        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="transportequimicos" name="transportequimicos" value={{contact.transportequimicos}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="managername" class="col-sm-2 col-form-label">Nombre del Gerente General</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="managername" name="managername" value={{contact.managername}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="manageremail" class="col-sm-2 col-form-label">Email Gerente General</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="manageremail" name="manageremail" value={{contact.manageremail}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="managerphone" class="col-sm-2 col-form-label">Telefono Gerente General</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="managerphone" name="managerphone" value={{contact.managerphone}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="calidadname" class="col-sm-2 col-form-label">Nombre Gerente de calidad</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="calidadname" name="calidadname" value={{contact.calidadname}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="calidademail" class="col-sm-2 col-form-label">Email Gerente de calidad</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="calidademail" name="calidademail" value={{contact.calidademail}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="calidadphone" class="col-sm-2 col-form-label">Telefono Gerente de calidad</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="calidadphone" name="calidadphone" value={{contact.calidadphone}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="finanzasname" class="col-sm-2 col-form-label">Nombre Gerente financiero</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="finanzasname" name="finanzasname" value={{contact.finanzasname}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="finanzasemail" class="col-sm-2 col-form-label">Email Gerente financiero</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="finanzasemail" name="finanzasemail" value={{contact.finanzasemail}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="finanzasphone" class="col-sm-2 col-form-label">Telefono Gerente financiero</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="finanzasphone" name="finanzasphone" value={{contact.finanzasphone}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="salename" class="col-sm-2 col-form-label">Nombre Encargado de ventas</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="salename" required="required"  name="salename" value={{contact.salename}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="saleemail" class="col-sm-2 col-form-label">Email Encargado de ventas</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="saleemail" required="required"  name="saleemail" value={{contact.saleemail}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="salephone" class="col-sm-2 col-form-label">Telefono Encargado de ventas</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="salephone" required="required"  name="salephone" value={{contact.salephone}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="cuentaname" class="col-sm-2 col-form-label">Informacion para pagos 
            Nombre de la cuenta:
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cuentaname" name="cuentaname" value={{contact.cuentaname}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="cuentaswift" class="col-sm-2 col-form-label">Swift:
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cuentaswift" name="cuentaswift" value={{contact.cuentaswift}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="cuentaaba" class="col-sm-2 col-form-label">IBAN / Cuenta cliente: 
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cuentaaba" name="cuentaaba" value={{contact.cuentaaba}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="cuentanumber" class="col-sm-2 col-form-label">Numero de cuenta:
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cuentanumber" name="cuentanumber" value={{contact.cuentanumber}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="cuentabanco" class="col-sm-2 col-form-label">Nombre del banco: 
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cuentabanco" name="cuentabanco" value={{contact.cuentabanco}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="cuentaaddress" class="col-sm-2 col-form-label">Direccion fisica del banco:
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cuentaaddress" name="cuentaaddress" value={{contact.cuentaaddress}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="certificados" class="col-sm-2 col-form-label">Tiene la compañía algún Sistema Certificado de Calidad (ISO9001, AS9100, NADCAP)? Por favor adjuntelo 

        </label>
        <div class="col-sm-10">
            
            <select type="text" class="form-control" id="certificados" 
            
            required="required" title="Select YES or NO" name="certificados" value={{contact.certificados}}>

                    <option></option>
                    
                    <option>Si</option>
                    
                    <option>No</option>
                    
            </select>
        </div>
    </div>
    <div class="form-group row">
            <label for="datevencimiento" class="col-sm-2 col-form-label">Fecha de vencimiento del certificado
            </label>
            <div class="col-sm-10">
                <input type="date" class="form-control" id="datevencimiento" name="datevencimiento" value={{contact.datevencimiento}}>
            </div>
    </div>
    <div class="form-group row">
        <label for="certificadoscomentarios" class="col-sm-2 col-form-label">Comentarios sobre el sistema de calidad
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="certificadoscomentarios" name="certificadoscomentarios" value={{contact.certificadoscomentarios}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="certificadocumplimiento" class="col-sm-2 col-form-label">Usa la empresa certificados de cumplimiento?

        </label>
        <div class="col-sm-10">
            
            <select type="text" class="form-control" id="certificadocumplimiento" name="certificadocumplimiento" value={{contact.certificadocumplimiento}}>

                    <option></option>
                    
                    <option>Yes</option>
                    
                    <option>No</option>
                    
            </select>
        </div>
    </div>
    <div class="form-group row">
        <label for="tiemporegistros" class="col-sm-2 col-form-label">  Por favor indique su política de retención de registros en años____________________

        </label>
        <div class="col-sm-10">
            <input type="text" title="Years" placeholder="5 years" class="form-control" id="tiemporegistros" name="tiemporegistros" value={{contact.tiemporegistros}}>
        </div>
    </div>
    
    <div class="form-group row">
        <label for="trazabilidad" class="col-sm-2 col-form-label">Tiene trazabilidad en su producción/materiales?

        </label>
        <div class="col-sm-10">
            <input type="text" title="Select YES or NO" placeholder="YES or NO" class="form-control" id="trazabilidad" name="trazabilidad" value={{contact.trazabilidad}}>
        </div>
    </div>

    
    <div class="form-group row">
            <label for="attach" class="col-sm-2 col-form-label" action=upload_file method=post enctype=multipart/form-data>
                Selecionar archivo a subir (Certificacion):
            </label>
            <div class="col-sm-10">
                <input type=file class="form-control" id="attach" name="attach" value={{contact.attach}}>
                
            </div>
    </div>
    <div class="form-group row">
            <label for="attach2" class="col-sm-2 col-form-label" action=upload_file method=post enctype=multipart/form-data>
                Selecionar archivo a subir (Certificacion):
            </label>
            <div class="col-sm-10">
                <input type=file class="form-control" id="attach2" name="attach2" value={{contact.attach2}}>
                
            </div>
    </div>
    <div class="form-group row">
            <label for="attach3" class="col-sm-2 col-form-label" action=upload_file method=post enctype=multipart/form-data>
                Selecionar archivo a subir (Certificacion):
            </label>
            <div class="col-sm-10">
                <input type=file class="form-control" id="attach3" name="attach3" value={{contact.attach3}}>
                
            </div>
    </div>
    <br></br>
    


  <button type="submit" class="btn btn-secondary"  value="Submit">Aceptar</button>

  <button type="submit" class="btn btn-secondary"  value="Submit">Cancelar</button>

</form>
</body>
{% endblock %}


