{% extends "base.html" %}

{% block contenu %}
<form action="#" method="post">
    <div class="form-group row">
        <label for="company" class="col-sm-2 col-form-label">Company</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="company"
            required="required"  title="Required name company" placeholder="Name company"  
            name="company" value={{contact.company}} >
            
        </div>
    </div>
    <div class="form-group row">
        <label for="phone" class="col-sm-2 col-form-label">Phone</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="nom" 
            required="required"  title="Required phone company" placeholder="550 1000 0000"  name="phone" value={{contact.phone}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="mail" class="col-sm-2 col-form-label">Mail</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="mail" 
            required="required"  title="Required email company" placeholder="email@company.com"  name="mail" value={{contact.mail}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="adress" class="col-sm-2 col-form-label">Adress</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="adress" 
             title="Adress company" placeholder="25 street califonia"  name="adress" value={{contact.adress}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="city" class="col-sm-2 col-form-label">City</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="city" 
            required="required"  title="Required city company" placeholder="City Alajuela"  name="city" value={{contact.city}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="country" class="col-sm-2 col-form-label">Country</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="country" 
            required="required" title="Required country company" placeholder="Costa Rica"  name="country" value={{contact.country}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="website" class="col-sm-2 col-form-label">Website</label>
        <div class="col-sm-10">
            <input type="url" class="form-control" id="website" 
            title="Website company" placeholder="https://company.com"  name="website" value={{contact.website}}>
        </div>
    </div>
    <div class="form-group row">
            <label for="industry" class="col-sm-2 col-form-label">Industry</label>
            <div class="col-sm-10">
                
                <select type="text" class="form-control" id="industry" 
                required="required"   title="Required select industry company" name="industry" value={{contact.industry}}>
    
                        <option></option>
                        
                        <option>Manufacturer</option>
                        <option>Transportation</option>
                        <option>Financial</option>
                        <option>Distributor</option>
                        <option>Other</option>

                        
                        
                </select>
            </div>
    </div>
    <div class="form-group row">
        <label for="description" class="col-sm-2 col-form-label">Description of product or service
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="description" 
            required="required"   title="Required description of product or service company"   name="description" value={{contact.description}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="managername" class="col-sm-2 col-form-label">Name Manager General</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="managername" name="managername" value={{contact.managername}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="manageremail" class="col-sm-2 col-form-label">Email Manager General</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="manageremail" name="manageremail" value={{contact.manageremail}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="managerphone" class="col-sm-2 col-form-label">Phone Manager General</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="managerphone" name="managerphone" value={{contact.managerphone}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="calidadname" class="col-sm-2 col-form-label">Name Quality Manager</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="calidadname" name="calidadname" value={{contact.calidadname}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="calidademail" class="col-sm-2 col-form-label">Email Quality Manager</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="calidademail" name="calidademail" value={{contact.calidademail}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="calidadphone" class="col-sm-2 col-form-label">Phone Quality Manager</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="calidadphone" name="calidadphone" value={{contact.calidadphone}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="finanzasname" class="col-sm-2 col-form-label">Name  Financial Manager</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="finanzasname" name="finanzasname" value={{contact.finanzasname}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="finanzasemail" class="col-sm-2 col-form-label">Email Financial Manager</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="finanzasemail" name="finanzasemail" value={{contact.finanzasemail}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="finanzasphone" class="col-sm-2 col-form-label">Phone Financial Manager</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="finanzasphone" name="finanzasphone" value={{contact.finanzasphone}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="salename" class="col-sm-2 col-form-label">Name Sales</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="salename" required="required"  name="salename" value={{contact.salename}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="saleemail" class="col-sm-2 col-form-label">Email Sales</label>
        <div class="col-sm-10">
            <input type="email" class="form-control" id="saleemail" required="required"  name="saleemail" value={{contact.saleemail}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="salephone" class="col-sm-2 col-form-label">Phone Sales</label>
        <div class="col-sm-10">
            <input type="number" class="form-control" id="salephone" required="required"  name="salephone" value={{contact.salephone}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="cuentaname" class="col-sm-2 col-form-label">Payment Information 
            Account Name :
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cuentaname" name="cuentaname" value={{contact.cuentaname}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="cuentaswift" class="col-sm-2 col-form-label">Swift:
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cuentaswift" name="cuentaswift" value={{contact.cuentaswift}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="cuentaaba" class="col-sm-2 col-form-label">ABA: 
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cuentaaba" name="cuentaaba" value={{contact.cuentaaba}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="cuentanumber" class="col-sm-2 col-form-label">Account Number:
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cuentanumber" name="cuentanumber" value={{contact.cuentanumber}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="cuentabanco" class="col-sm-2 col-form-label">Bank Name: 
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cuentabanco" name="cuentabanco" value={{contact.cuentabanco}}>
        </div>
    </div>
    <div class="form-group row">
        <label for="cuentaaddress" class="col-sm-2 col-form-label">Bank Physical Address:
        </label>
        <div class="col-sm-10">
            <input type="text" class="form-control" id="cuentaaddress" name="cuentaaddress" value={{contact.cuentaaddress}}>
        </div>
    </div>
    <br></br>
    


  <button type="submit" class="btn btn-secondary"  value="Submit">Accept</button>

  <button type="submit" class="btn btn-secondary"  value="Submit">Cancel</button>

</form>
{% endblock %}


