{% extends "inicio/inicio.html" %}

{% block titre %}

<body>


<a href="{{ url_for('selecionar') }}"><img ALIGN="right" height="5%" width="5%" src="static/img/eng.jpg" alt="English" /></a>
<img src="static/img/logo.jpg" width="10%" height="10%">
<br></br>
<br>      What is the main economic activity of the company?</br>


  <div class="container">
    <ul class="nav mt-2">
      
        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#">Select</a>        
        <div class="dropdown-menu">
          <a class="dropdown-item" href="select3">Machining Service</a>
          <a class="dropdown-item" href="select22">Production Supplies</a>
          <a class="dropdown-item" href="select3">Finishing Service</a>
          <a class="dropdown-item" href="select22">Packing material</a>
          <a class="dropdown-item" href="select3">Logistics Service</a>
          <a class="dropdown-item" href="select22">Personal Protection and Safety Equipment</a>
          <a class="dropdown-item" href="select3">Custom made tools</a>
          <a class="dropdown-item" href="select22">Production team</a>
          <a class="dropdown-item" href="select3">Manual tools</a>
          <a class="dropdown-item" href="select22">Office supplies</a>
          <a class="dropdown-item" href="select3">Tools Machinning</a>
          <a class="dropdown-item" href="select22">Cleaning and Cafeteria Supplies</a>
          <a class="dropdown-item" href="select3">Calibration</a>
          <a class="dropdown-item" href="select22">Spare parts</a>
          <a class="dropdown-item" href="select3">Materials ESD</a>
          <a class="dropdown-item" href="select3">Chemicals</a>
          <a class="dropdown-item" href="select3">Material (MP o MI) - MW</a>
          <a class="dropdown-item" href="select3">Material (MP o MI) - LW</a>
          <a class="dropdown-item" href="select3">Material (MP o MI) - Tubing</a>
          <a class="dropdown-item" href="select3">Material (MP o MI) - Welding</a>
          <a class="dropdown-item" href="select3">Material (MP o MI) - Connectors</a>
          <a class="dropdown-item" href="select3">Material (MP o MI) - Plates</a>
          <a class="dropdown-item" href="select3">Material (MP o MI) - Coils</a>
          <a class="dropdown-item" href="select3">Material (MP o MI) - Electronic components</a>

          <a class="dropdown-item" href="select3"></a>

          <a class="dropdown-item" href="select22"></a>
          
        </div>
      </li>
      
    </ul>
  </div>
{% endblock %}
