{%  extends 'index.html' %}

{%  block content  %}

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawChart);

      function drawChart() {

        var data = google.visualization.arrayToDataTable([
          ['Proveedor', 'Estatus'],
          ['Red',     11],
          ['Yellow',      22],
          ['Green',  42],
          ['Orange', 2],
          
        ]);

        var options = {
          title: 'Estatus de proveedores'
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
      }
    </script>
  </head>
  <body>
    <div id="piechart" style="width: 900px; height: 500px;"></div>
  </body>
</html>

<html>
  <head>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">
      google.charts.load('current', {'packages':['corechart']});
      google.charts.setOnLoadCallback(drawSeriesChart);

    function drawSeriesChart() {

      var data = google.visualization.arrayToDataTable([
        ['ID',     'A',                'T',       'R',     'P'],
        ['CAN',    80.66,              1.67,      'N',  33739900],
        ['DEU',    79.84,              1.36,      'E',         81902307],
        ['DNK',    78.6,               1.84,      'E',         5523095],
        ['EGY',    72.73,              2.78,      'M',    79716203],
        ['GBR',    80.05,              2,         'E',         61801570],
        ['IRN',    72.49,              1.7,       'M',    73137148],
        ['IRQ',    68.09,              4.77,      'M',    31090763],
        ['ISR',    81.55,              2.96,      'M',    7485600],
        ['RUS',    68.6,               1.54,      'E',         141850000],
        ['TSA',    78.09,              2.05,      'N',  307007000]
      ]);

      var options = {
        title: 'Correlation between life expectancy, fertility rate ' +
               'and population of some world countries (2010)',
        hAxis: {title: 'C'},
        vAxis: {title: 'F'},
        bubble: {textStyle: {fontSize: 11}}
      };

      var chart = new google.visualization.BubbleChart(document.getElementById('series_chart_div'));
      chart.draw(data, options);
    }
    </script>
  </head>
  <body>
    <div id="series_chart_div" style="width: 900px; height: 500px;"></div>
  </body>
</html>


{%  endblock  %}