{% extends "frontend/frontend2.html" %}

{% block titre %}Registrar nuevo proveedor{% endblock %}
{% block contenu %}

<head>

        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" >
        <style>
        
        
               
        
            
        </style>

</head>
<table class="egt">
        <tr>
          <th>Estatus</th>
          <th>{{contact.status}}</th>
          <tr>
                <td>Fecha vencimiento</td>
                <td>{{contact.datevencimiento}}</td>
            </tr>          
        </tr>
        <tr>
          <td>Company</td>
          <td> {{contact.company}} </td>
        </tr>
        <tr>
            <td>Phone</td>
            <td> {{contact.phone}}</td>
        </tr>
        <tr>
            <td>Mail</td>
            <td>{{contact.mail}}</td>
        </tr>
        <tr>
                <td>adress</td>
                <td> {{contact.adress}}</td>
            </tr>
            <tr>
                <td>City</td>
                <td>{{contact.city}}</td>
            </tr>
    
            <tr>
                    <td>country</td>
                    <td>{{contact.country}}</td>
                </tr>
                <tr>
                    <td>website</td>
        <td>{{contact.website}}</td>
    </tr>
    <tr>
            <td>industry</td>
            <td>{{contact.industry}}</td>
        </tr>
        <tr>
            <td>Description of product or service</td>
            <td>{{contact.description}}</td>
        </tr>

        <tr>
                <td>Please name your prefered method of shipment</td>
                <td>{{contact.transportemedio}}</td>
            </tr>
            <tr>
                <td>Does the company have experienced with Shipping and Handling HAZARDOUS Chemicals?</td>
                <td>{{contact.transportequimicos}}</td>
            </tr>
    
            <tr>
                    <td>Name Manager General</td>
                    <td>{{contact.managername}}</td>
                </tr>
                <tr>
                    <td>Email Manager General</td>
                    <td>{{contact.manageremail}}</td>
                </tr>
        
                <tr>
                        <td>Phone Manager General</td>
                        <td>{{contact.managerphone}}</td>
                    </tr>
                    <tr>
                        <td>Name Quality Manager</td>
                        <td>{{contact.calidadname}}</td>
                    </tr>
            
                    <tr>
                            <td>Email Quality Manager</td>
                            <td>{{contact.calidademail}}</td>
                        </tr>
<tr>
    <td>Phone Quality Manager</td>
    <td>{{contact.calidadphone}}</td>
</tr>
<tr>
    <td>Name  Financial Manager</td>
    <td>{{contact.finanzasname}}></td>
</tr>
<tr>
        <td>Email Financial Manager</td>
        <td>{{contact.finanzasemail}}</td>
    </tr>
    
    <tr>
    <td>Phone Financial Manager</td>
    <td>{{contact.finanzasphone}}</td>
</tr>
<tr>
        <td>Name Sales</td>
        <td>{{contact.salename}}</td>
    </tr>
    
    <tr>
            <td>Email Sales</td>
            <td>{{contact.saleemail}}</td>
        </tr>
        
        <tr>
                <td>Phone Sales</td>
                <td>{{contact.salephone}}</td>
            </tr>
<tr>
<td>Payment Information</td>
<td>{{contact.cuentaname}}</td>
</tr>
<tr>
<td>Swift:</td>
<td>{{contact.cuentaswift}}</td>
</tr>
<tr>
  <td>ABA:</td>
  <td>{{contact.cuentaaba}}</td>
  </tr>
  <tr>
<td>Account Number:</td>
<td>{{contact.cuentanumber}}</td>
</tr>
<tr>
<td>Bank Name:</td>
<td>{{contact.cuentabanco}}</td>
</tr>
<tr>
        <td>Bank Physical Address:</td>
        <td>{{contact.cuentaaddress}}</td>
        </tr>
        <tr>
        <td>Does the company have a Certified Quality System (ISO9001, AS9100, NADCAP)? Please attach the certification</td>
        <td>{{contact.certificados}}</td>
        </tr>
        <tr>
          <td>Notes Certified Quality System</td>
          <td>{{contact.certificadoscomentarios}}</td>
          </tr>
          <tr>
        <td>Do you use Certificates of Compliance?</td>
        <td>{{contact.certificadocumplimiento}}</td>
        </tr>
        <tr>
        <td>Please specify your record retention policy in years: ______ </td>
        <td>{{contact.tiemporegistros}}</td>
        </tr>
                                                    
<tr>
    <td>Do you have traceability on your production/materials?</td>
    <td>{{contact.trazabilidad}}</td>
</tr>                                                                                        
<tr>
    <td>View file to upload:</td>
    <td>{{contact.attach}}</td>
</tr>                                                                                        

<tr>
    <td></td>
    <td>{{contact.attach2}}</td>
</tr>                                                                                        
<tr>
        <td></td>
        <td>{{contact.attach3}}</td>
    </tr>                                                                                        
                                                                                            
    
    
    
</table>


<form action="#" method="post">
        <div class="form-group row">
                <label for="status" class="col-sm-2 col-form-label">Selecionar el estado actual </label>
                <div class="col-sm-10">
                    
                    <select type="text" class="form-control" id="status" 
                    required="required"   title="Required select status company" name="status" value={{contact.status}}>
        
                            <option>{{contact.status}}</option>                            
                            <option>aprobado calidad</option>
                            <option>rechazado calidad</option>
                           
    
                            
                            
                    </select>
                </div>
        </div>
        <div class="form-group row">
                <label for="commecalidad" class="col-sm-2 col-form-label">Comentario</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="commecalidad"
                      title="Required name company"   
                    name="commecalidad" value={{contact.commecalidad}} >
                    
                </div>
            </div>
                
  <button type="submit" class="btn btn-secondary"  value="Submit">Aceptar</button>

  <button type="submit" class="btn btn-secondary"  value="Submit">Cancelar</button>

</form>


        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>

{% endblock %}

